button{
    background-color: #B4B4B8;
    color:black;
    width:100px;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    padding: 5px;
    float: right;
    margin-right: 5px;
  }
  